<section class="login-container" add-data>

		<section class="container">
			<section class="logo">
				<section class="floating">
					<%= image_tag "logo.png"%>
				</section>
				
				<h1 class="flow-text info">Welcome admin!</h1>
			</section>
		</section>

		<section class="choices">

			<ul class="collapsible collapsible-expandable">

		        <li class="choices-li">
		          	<section class="collapsible-header second">
		          		<label>SignIn</label>
		          	</section>
		            <section class="collapsible">
			          	  <section class="row form slideExpandUp">
					        <form action="/checkAdmin" method="post" class="col s12">
					        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<% if flash[ :danger ] %>
							<div class="alert alert-danger">
								<strong>Invalid Pass Key</strong>
							</div>
							<% end %>
					          <section class="row">
					            <section class="col s6"><input name="email"  value="" type="email" placeholder="Email" required></section>
					            <section class="col s6"><input name="password"  value="" type="password" placeholder="Password" required></section>
					          </section>
					          <section class="row col s12">        
				            	<button class="btn-large" type="submit" ng-click="getAll()">
				        		 Login
				            	</button>
					          </section>
					        </form>
					      </section>
		            </section>
		        </li>

		      </ul>

		</section>
	</section>