<section class = "login-container" add-data>
	<section class="profile-container" >
		<section>
			<nav class="webnified-nav">
				<section class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">
							<section class="logo tossing">
								<%= image_tag "logo.png"%>
							</section>
						</a>
						<label class="company">Virtualahan</label>
						<ul class="pull-right">
							
							<li><a href="" ng-click="setshowUs(0)">Virtual Assistants</a></li>
							<li><a href="" ng-click="setshowUs(1)">Clients</a></li>
							<li><a href="" ng-click="setshowUs(2)">Connections</a></li>
							<li><a href="" ng-click="setshowme(2)">Add Admin</a></li>
							<li><a href="" to="/admin">Home</a></li>
							<li><a href="" to="/logout">Logout</a></li>
							
						</ul>
						
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
					</div>
				</section>
			</nav>
		</section>
		<section ng-if="showUs == 0"class ="record-list">
			<section class="squad">
				<label>Virtual Assistants</label>
			</section>
			<section class="squad">
				<a href="" ng-click="setshowme(1)">+ Add VA</a>
			</section>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td class="myname"><a>{{employee.firstname.toUpperCase()}} {{employee.lastname.toUpperCase()}}</a> </td>
						<td class="mytask">{{employee.email}}</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section ng-if="showUs == 1"class ="record-list">
			<section class="squad">
				<label>Clients</label>
			</section>
			<section class="squad">
				<a href="" ng-click="setshowme(3)">+ Add Client</a>
			</section>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="client in clients">
						<td class="myname"><a>{{client.firstname.toUpperCase()}} {{client.lastname.toUpperCase()}}</a> </td>
						<td class="mytask">{{client.email}}</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section ng-if="showUs == 2"class ="record-list">
			<section class="squad">
				<label>Connections</label>
			</section>
			<section class="squad">
				<a href="" ng-click="setshowme(4)">+ Add Connection</a>
			</section>
			<table>
				<thead>
					<tr>
						<th>Client</th>
						<th>VA</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="connection in connections">
						<td class="myname"><a>{{connection.client.firstname.toUpperCase()}} {{connection.client.lastname.toUpperCase()}}</a> </td>
						<td class="mytask"><a>{{connection.employee.firstname.toUpperCase()}} {{connection.employee.lastname.toUpperCase()}}</a> </td>
					</tr>
				</tbody>
			</table>
		</section>
		
	</section>
	<div ng-if="showme == 1" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" ng-click="closeshowme()">x</span>
			<h2>Add Virtual Assistant</h2>
			<section class="row form slideExpandUp">
				<form ng-submit="addVA()" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
						
						<section class="col s8">
							<input type="file" id="file" ngf-select ng-model="va.pic" ngf-pattern="'image/*'">
						</section>
						<section class="col s8">
							<img class="profile-pic" ngf-src="va.pic">
						</section>
						<section class="col s6">
							<input ng-model="va.firstname" type="text" placeholder="Firstname" required>
						</section>
						<section class="col s6">
							<input ng-model="va.lastname" type="text" placeholder="Lastname" required>
						</section>
						<section class="col s6">
							<input ng-model="va.link_in" type="text" placeholder="LinkedIn" >
						</section>
						<section class="col s6">
							<input ng-model="va.facebook" type="text" placeholder="Facebook Info" >
						</section>
						<section class="col s12">
							<input ng-model="va.skill" type="text" placeholder="Skills Summary" required>
						</section>
						<section class="col s6">
							<input ng-model="va.email" type="email" placeholder="Email" required>
						</section>
						<section class="col s6">
							<input ng-model="va.password" type="text" placeholder="Password" required>
						</section>
					</section>
					<section class="row col s12">
						<button class="btn-large" type="submit">
						Submit
						</button>
					</section>
				</form>
			</section>
		</div>
	</div>
	<div ng-if="showme == 3" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span cla
			ss="close" ng-click="closeshowme()">x</span>
			<h2>Add Client</h2>
			<section class="row form slideExpandUp">
				<form ng-submit="addClient()" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
						<section class="col s8">
							<input type="file" id="file" ngf-select ng-model="client.pic" ngf-pattern="'image/*'">
						</section>
						<section class="col s8">
							<img class="profile-pic" ngf-src="client.pic">
						</section>
						<section class="col s6">
							<input ng-model="client.firstname" type="text" placeholder="Firstname" required>
						</section>
						<section class="col s6">
							<input ng-model="client.lastname" type="text" placeholder="Lastname" required>
						</section>
						<section class="col s6">
							<select  class="dropDown" ng-model="client.time_zone" required="">
								<option value="">Select Time Zone</option>
								<%=@time_zones.each do |time_zone|%>
								<option value="<%=time_zone%>" ><%=time_zone%></option>
								<%end%>
							</select>
						</section>
						<section class="col s6">
							<input ng-model="client.website" type="text" placeholder="Website Url" >
						</section>
						<section class="col s6">
							<input ng-model="client.link_in" type="text" placeholder="LinkedIn" >
						</section>
						<section class="col s6">
							<input ng-model="client.company" type="text" placeholder="Company Info" >
						</section>
						<section class="col s6">
							<input ng-model="client.subscription" type="text" placeholder="Subscription" >
						</section>
						<section class="col s6">
							<input ng-model="client.industry" type="text" placeholder="Industry" >
						</section>
						<section class="col s6">
							<input ng-model="client.email" type="email" placeholder="Email" required>
						</section>
						<section class="col s6">
							<input ng-model="client.password" type="text" placeholder="Password" required>
						</section>
					</section>
					<section class="row col s12">
						<button class="btn-large" type="submit">
						Submit
						</button>
					</section>
				</form>
			</section>
		</div>
	</div>
	<div ng-if="showme == 2" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" ng-click="closeshowme()">x</span>
			<h2>Add Admin</h2>
			<section class="row form slideExpandUp">
				<form ng-submit="addAdmin()" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
					<section class="col s6"><input name="email"  ng-model="admn.firstname" type="text" placeholder="Firstname" required></section>
				<section class="col s6"><input name="password"  ng-model="admn.lastname" type="text" placeholder="Lastname" required></section>
			<section class="col s6"><input name="email"  ng-model="admn.email" type="email" placeholder="Email" required></section>
		<section class="col s6"><input name="password"  ng-model="admn.password" type="text" placeholder="Password" required></section>
	</section>
	<section class="row col s12">
		<button class="btn-large" type="submit">
		Submit
		</button>
	</section>
</form>
</section>
</div>
</div>
<div ng-if="showme == 4" class="modal">
<!-- Modal content -->
<div class="modal-content">
<span class="close" ng-click="closeshowme()">x</span>
<h2>Add Connection</h2>
<section class="row form slideExpandUp">
<form ng-submit="addConnection()" method="post" class="col s12">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<% if flash[ :danger ] %>
	<div class="alert alert-danger">
		<strong>Invalid Pass Key</strong>
	</div>
	<% end %>
	<section class="row">
		<section class="col s6">
			<select  class="dropDown" ng-model="connection.client_id" required>
				<option value="">Client</option>
				<%@clients.each do |client|%>
				<option value="<%=client.id%>"><%=client.firstname+" "+client.lastname%></option>
				<%end%>
			</select>
		</section>
		<section class="col s6">
			<select  class="dropDown" ng-model="connection.employee_id" required>
				<option value="">Employee</option>
				<%@employees.each do |employee|%>
				<option value="<%=employee.id%>"><%=employee.firstname+" "+employee.lastname%></option>
				<%end%>
			</select>
		</section>
	</section>
	<section class="row col s12">
		<button class="btn-large" type="submit">
		Submit
		</button>
	</section>
</form>
</section>
</div>
</div>
</section>