<section class="login-container" add-data>
	<section class="profile-container">
		<section>
			<nav class="webnified-nav">
				<section class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">
							<section class="logo tossing">
								<%= image_tag "logo.png"%>
							</section>
						</a>
						<label class="company">Virtualahan</label>
						<ul class="pull-right">
						    <li></li>
							<li><a ng-if = "todoId != ''" href="/record?id={{todoId}}">Record</a></li>
							<li><a href="/logout" >Logout</a></li>
						</ul>
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
					</div>
				</section>
			</nav>
		</section>
		<section class="row info-container">
			<section class="col s7 proleft">
				<section class="col s12 left">
					<section class="col s4 profile-section">
						<img class="profile-pic" src="../images/profil.png">
						<button class="btn-large" ng-click="editMe(3 , <%=@client.id%>, 'client')">
							Edit Profile
							</button>
					</section>
					<section class="col s8 ">
						<ul class="user-info">
							<li>Name: <span><%=@client.firstname.capitalize%> <%=@client.lastname.capitalize%></span> </li>
							<li>Email: <span><%=@client.email%></span> </li>
							<li>
								<a  href="<%=@client.link_in%>" target="_blank"><img class="iconsSocial" src="../images/link.png"></a>
							</li>
							<li><span>
								<select  class="dropDown" ng-model="todoId" ng-change="getTodos()">
									<option value="">Select your connected VA Here To see TO DO'S</option>
									<%=@connections.each do |connection|%>
									<option value="<%=connection['id']%>"><%=connection["employee"]["firstname"].capitalize%> <%=connection["employee"]["lastname"].capitalize%></option>
									<%end%>
								</select>
							</span> </li>
							<a class="btn-large showSched" ng-if = "todoId != ''" href="/viewInfo?id={{todoId}}&type=employee">VA Profile and Schedule</a>
							<li>TimeZone: <span><%=@client.time_zone%></span>  </li>
							<li>Company's Website: <span><%=@client.website%></span> </li>
						</ul>
					</section>
				</section>
				
				<section class="col s12 right">
					<ul class="user-info">
						<li>Company Information: <span><%=@client.company%></span> </li>
						<li>of Subscription: <span><%=@client.subscription%></span> </li>
						<li>Industry: <span><%=@client.industry%></span> </li>
					</ul>
				</section>
			</section>
			<section class="col s5 proright">
				<h4 class="todo">TO DO LIST </h4>
				<div class="tablediv" >
					<table>
						<thead>
							<tr>
								<th>TASK</th>
								<th>DEADLINE</th>
								<th>STATUS</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="todos in todolist">
								<td>{{todos.task}}</td>
								<td>{{todos.deadline}}</td>
								<td>{{todos.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<section ng-if="todoId != ''" class="row todoform slideExpandUp">
						<section id="spinner" class="spinner 12u">
							<img id="img-spinner" src="../images/loading.gif" alt="Loading"/>
						</section>
					<form ng-submit="addTodo('client')" method="post" class="col m12">
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<% if flash[ :danger ] %>
						<div class="alert alert-danger">
							<strong>Invalid Pass Key</strong>
						</div>
						<% end %>
						<section class="row">
							
							<section class="col s6">
								<textarea class="taskarea" type="text" placeholder="task" ng-model="todo.task"></textarea>
							</section>
							<section class="col s6">
								<input placeholder="DeadLine" class="textbox-n" type="text" ng-model="todo.deadline" onfocus="(this.type='date')"> 
							</section>
							
							
						</section>
						<section class="row col s12">
							<button class="btn-large" type="submit">
							Submit
							</button>
						</section>
					</form>
				</section>
			</section>
		</section>
	</section>
	<div ng-if="showme == 3" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" ng-click="closeshowme()">x</span>
			<h2>Edit</h2>
			<section class="row form slideExpandUp">
			
				<form ng-submit="updateData('client', <%=@client.id%>)" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
						<section class="col s8"><input type="file" id="file" ngf-select ng-model="client.pic" ngf-pattern="'image/*'"></section>
						<section class="col s8"><img class="profile-pic" ngf-src="client.pic"></section>
						<section class="col s6"><input ng-model="client.firstname" type="text" placeholder="Firstname" required></section>
						<section class="col s6"><input ng-model="client.lastname" type="text" placeholder="Lastname" required></section>
						<section class="col s6">
							<select  class="dropDown" ng-model="client.time_zone" required="">
								<option value="">Select Time Zone</option>
								<%=@time_zones.each do |time_zone|%>
								<option value="<%=time_zone%>" ><%=time_zone%></option>
								<%end%>
							</select>
						</section>
						<section class="col s6"><input ng-model="client.website" type="text" placeholder="Website Url" ></section>
						<section class="col s6"><input ng-model="client.link_in" type="text" placeholder="LinkedIn" ></section>
						<section class="col s6"><input ng-model="client.company" type="text" placeholder="Company Info" ></section>
						<section class="col s6"><input ng-model="client.subscription" type="text" placeholder="Subscription" ></section>
						<section class="col s6"><input ng-model="client.industry" type="text" placeholder="Industry" ></section>
						<section class="col s6"><input ng-model="client.email" type="email" placeholder="Email" required></section>
						<section class="col s6"><input ng-model="client.password" type="text" placeholder="Password" required></section>
					</section>
					<section class="row col s12">
						<button class="btn-large" type="submit">
						Submit
						</button>
					</section>
				</form>
			</section>
		</div>
</div>
</section>