
<section class="dtr-container">
		<section>
			<nav class="webnified-nav">
				<section class="container">	
				  <div class="nav-wrapper">
				    <a href="#" class="brand-logo">
				    	<section class="logo tossing">
				    		<%= image_tag "logo.png"%>
				    		
				    	</section>
				    </a>
				    <label class="company">Virtualahan</label>
				    <ul class="pull-right">
				    	<li><a href="" ng-click="profile()">Profile</a></li>
				    	<li><a href="https://trello.com" target="_blank">Task in Trello</a></li>
				   		<li><a href="" ng-click="logout()">Logout</a></li>
				    </ul>
				    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
				  </div>
				</section>
			</nav>
		</section>	 
		<section class ="container">
			<section class="webni-logo">
				<h4 class="note">Your daily Record in Virtualahan , {{user.employee.firstname}}</h4>
				<section class="record-body">
					<section class="record row col s12" ng-repeat ="timeStamp in user.record">
						<section class="col s4">
							<img class="photoIn" src={{timeStamp.photoIn}}>
						</section>
						<section class="daily-info col s8">
							<section class="date">
								{{timeStamp.date}}
							</section>
							<section class="time">
								TIME-IN: {{timeStamp.timeIn}}
							</section>
							<section class="comment">
								{{timeStamp.commentIn}}
							</section>
							<section class="time">
								TIME-OUT: {{timeStamp.timeOut}}
								<label class="feeling">Feeling: {{timeStamp.emotion}}</label>
							</section>
							<section class="comment">
								{{timeStamp.commentOut}}
							</section>

						</section>	
					</section>
				</section>
			
				<h1 class="flow-text info">" Life is not measured by the number of breaths we take, but by the moments that take our breath away. "</h1>
			</section>
		</section>
	</section>
