<section class="login-container" add-data>

		<section ng-if="showme == 0" class="container">
			<section class="logo">
				<section class="floating">
					<%= image_tag "logo.png"%>
				</section>
				
				<h1 class="flow-text info">Let's Start Tracking your time!</h1>
			</section>
		</section>

		<section ng-if="showme == 0" class="choices">

			<ul class="collapsible collapsible-expandable">

		        <li class="choices-li">
		          	<section class="collapsible-header second">
		          		<label>SignIn</label>
		          	</section>
		            <section class="collapsible">
			          	  <section class="row form slideExpandUp">
					        <form action="/check" method="post" class="col s12">
					        <input type="hidden" name="kind" value="va">
					        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<% if flash[ :danger ] %>
							<div class="alert alert-danger">
								<strong>Invalid Pass Key</strong>
							</div>
							<% end %>
					          <section class="row">
					            <section class="col s6"><input name="email"  value="" type="email" placeholder="Email" required></section>
					            <section class="col s6"><input name="password"  value="" type="password" placeholder="Password" required></section>
					          </section>
					          <section class="row col s12">        
				            	<button class="btn-large" type="submit">
				        		 Login
				            	</button>
					          </section>
					        </form>
					      </section>
		            </section>
		        </li>

		      </ul>
		      <a href="" class="loginchoice" ng-click="setshowme(1)">Login as Client</a>

		</section>

		<section ng-if="showme == 1" class="container">
			<section class="logo">
				<section class="floating">
					<%= image_tag "logo.png"%>
				</section>
				
				<h1 class="flow-text info">Welcome our Valued Client</h1>
			</section>
		</section>

		<section ng-if="showme == 1" class="choices">

			<ul class="collapsible collapsible-expandable">

		        <li class="choices-li">
		          	<section class="collapsible-header second">
		          		<label>SignIn</label>
		          	</section>
		            <section class="collapsible">
			          	  <section class="row form slideExpandUp">
					        <form action="/check" method="post" class="col s12">
					        <input type="hidden" name="kind" value="client">
					        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<% if flash[ :danger ] %>
							<div class="alert alert-danger">
								<strong>Invalid Pass Key</strong>
							</div>
							<% end %>
					          <section class="row">
					            <section class="col s6"><input name="email"  value="" type="email" placeholder="Email" required></section>
					            <section class="col s6"><input name="password"  value="" type="password" placeholder="Password" required></section>
					          </section>
					          <section class="row col s12">        
				            	<button class="btn-large" type="submit">
				        		 Login
				            	</button>
					          </section>
					        </form>
					      </section>
		            </section>
		        </li>

		      </ul>
		      <a href="" class="loginchoice" ng-click="setshowme(0)">Login as VA</a>
		</section>
	</section>