<section class="login-container" add-data>
	<section class="profile-container">
		<section>
			<nav class="webnified-nav">
				<section class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">
							<section class="logo tossing">
								<%= image_tag "logo.png"%>
							</section>
						</a>
						<label class="company">Virtualahan</label>
						<ul class="pull-right">
							<li></li>
							<li><a ng-if = "todoId != ''" href="/records?id={{todoId}}">Record</a></li>
							<li></li>
							<!-- <li><a href="" to="/logout">Logout</a></li> -->
						</ul>
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
					</div>
				</section>
			</nav>
		</section>
		<section class="row info-container">
			<section class="col s7 proleft">
				<section class="col s12 left">
					<section class="col s4 profile-section">
						<img class="profile-pic" src="../images/profil.png">
						<button class="btn-large" ng-click="editMe(1 , <%=@employee.id%>, 'employee')">
						Edit Profile
						</button>
					</section>
					<section class="col s8 ">
						<ul class="user-info">
							<li>Name: <span><%=@employee.firstname.capitalize%> <%=@employee.lastname.capitalize%></span> </li>
							<li>Email: <span><%=@employee.email%></span> </li>
							<li>
								<a  href="<%=@employee.link_in%>" target="_blank"><img class="iconsSocial" src="../images/link.png"></a>
								<a  href="<%=@employee.facebook%>" target="_blank"><img class="iconsSocial" src="../images/fb.png"></a>
							</li>
							<li><span>
								<select  class="dropDown" ng-model="todoId" ng-change="getTodos()" ng-disabled="attend_enable == 'true'">
									<option value="">Select connected Client Here To see TO DO'S</option>
									<%=@connections.each do |connection|%>
									<option value="<%=connection['id']%>"><%=connection["client"]["firstname"].capitalize%> <%=connection["client"]["lastname"].capitalize%></option>
									<%end%>
								</select>
							</span> </li>
							<a class="btn-large showSched" ng-if = "todoId != ''"  href="/viewInfo?id={{todoId}}&type=client">Client Profile and Schedule</a>
							<a class="btn-large showSched" href="/profile" >Timer</a>
							
						</ul>
					</section>
				</section>
				
				<section class="col s12 right">
					<ul class="user-info">
						<li>Skills: <span><%=@employee.skill%></span> </li>
					</ul>
				</section>
			</section>
			<section class="col s5 proright">
				<h4 class="todo">TO DO LIST</h4>
				<div class="tablediv" >
					<table>
						<thead>
							<tr>
								<th>TASK</th>
								<th>DEADLINE</th>
								<th>STATUS</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="todos in todolist">
								<td>{{todos.task}}</td>
								<td>{{todos.deadline}}</td>
								<td>{{todos.status}}</td>
								<td ng-if="todos.status == 'pending'"><a href="" ng-click="updateTask(todos.id, 'to Start')">Start</a></td>
								<td ng-if="todos.status == 'to Start'"><a href="" ng-click="updateTask(todos.id, 'pending')">Cancel</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<section ng-if="todoId != ''" class="row todoform slideExpandUp">
				   		<section id="spinner" class="spinner 12u">
							<img id="img-spinner" src="../images/loading.gif" alt="Loading"/>
						</section>
					<form ng-submit="addTodo('employee')" method="post" class="col m12">
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<% if flash[ :danger ] %>
						<div class="alert alert-danger">
							<strong>Invalid Pass Key</strong>
						</div>
						<% end %>
						<section class="row">
							
							<section class="col s6">
								<textarea class="taskarea" type="text" placeholder="task" ng-model="todo.task"></textarea>
							</section>
							<section class="col s6">
								<input placeholder="DeadLine" class="textbox-n" type="text" ng-model="todo.deadline" onfocus="(this.type='date')"> 
							</section>
							
							
						</section>
						<section class="row col s12">
							<button class="btn-large" type="submit">
							Add my Own Task
							</button>
						</section>
					</form>
				</section>
			</section>
		</section>
	</section>
	<div ng-if="showme == 1" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" ng-click="closeshowme()">x</span>
			<h2>Edit</h2>
			<section class="row form slideExpandUp">
				<form ng-submit="updateData('employee', <%=@employee.id%>)" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
						<section class="col s8"><input  type="file" id="file" ngf-select ng-model="va.pic" ngf-pattern="'image/*'"></section>
					<section class="col s8"><img class="profile-pic" ngf-src="va.pic"></section>
				<section class="col s6"><input ng-model="va.firstname" type="text" placeholder="Firstname" required></section>
			<section class="col s6"><input ng-model="va.lastname" type="text" placeholder="Lastname" required></section>
		<section class="col s6"><input ng-model="va.link_in" type="text" placeholder="LinkedIn" ></section>
	<section class="col s6"><input ng-model="va.facebook" type="text" placeholder="Facebook Info" ></section>
<section class="col s12"><input ng-model="va.skill" type="text" placeholder="Skills Summary" required></section>
<section class="col s6"><input ng-model="va.email" type="email" placeholder="Email" required></section>
<section class="col s6"><input ng-model="va.password" type="text" placeholder="New Password" required></section>
</section>
<section class="row col s12">
<button class="btn-large" type="submit">
Submit
</button>
</section>
</form>
</section>
</div>
</div>
</div>
</section>