<section class="profile-container" add-data>
	<section>
		<nav class="webnified-nav">
			<section class="container">
				<div class="nav-wrapper">
					<a href="http://www.webnified.com" class="brand-logo">
						<section class="logo tossing">
							<img src="../images/logo.png">
						</section>
					</a>
					<label class="company">Virtualahan</label>
					<ul class="pull-right">
						<!-- <li><a href="">Client</a></li>
						<li><a href="">Profile</a></li>
						<li><a href="">Schedule</a></li>
						<li><a href="">Report</a></li> -->
						<li><a href="/info?id=<%=@employee.id%>">Profile</a></li>
						<li><a ng-if = "showForm == 0" href="/logout">Logout</a></li>
					</ul>
					<a class="button-collapse" href="" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
				</div>
			</section>
		</nav>
	</section>
	<section class="container">
		<section class="name">
			<label class="fullname pullUp"><%= @employee.firstname.capitalize %> <%= @employee.lastname.capitalize%></label>
		</section>
		<section class="time-transaction" >
			<h1 id="timeIn" ><time>{{hour}}:{{minute}}:{{second}}</time></h1>
			
			<button id="attend" ng-click="attend(<%=@employee.id %>)" ng-if="showForm == 0" ng-disabled="attend_enable == 'false'"  class="mdi-action-alarm  waves-effect waves-light btn-large timeout modal-trigger">Clock In</button>
			<button ng-click="out()" ng-if="showForm != 0" ng-disabled="showForm != 1" id="out" class="mdi-action-alarm  waves-effect waves-light btn-large timeout modal-trigger">Clock Out</button>
			
			<form  ng-if="showForm != 0" ng-submit="stop()" method="post">
				<section class="myclock">
					<img class="mygif" ng-if="showForm != 1" src="../images/Clock.gif">
					<img class="mygif" ng-if="showForm != 2" src="../images/clock.gif">
				</section>
				
				<section class="row col s12 button-holder">
					<textarea id="task" ng-model="record.task" class="myTask col s8" placeholder="Your Task" required></textarea>
					<a href="#"  id="start" ng-if="showForm != 2" ng-click="start(<%=@employee.id %>)"  class="mdi-action-alarm col s4 waves-effect waves-light btn-large timeout modal-trigger">start</a>
					<button type="submit" id="stop" ng-if="showForm != 1"  class="mdi-action-alarm col s4 waves-effect waves-light btn-large timeout modal-trigger">stop</button>
				</section>
			</form>
			
			
		</section>
		
		
	</section>
	<div ng-if="showme == 4" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<h2>Any Report for this Clock Out?</h2>
			<section class="row form slideExpandUp">
				<form ng-submit="addReport()" method="post" class="col s12">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row">
						<section class="col s6">
							<textarea class="taskarea reportarea" ng-model="report.roadblocks" placeholder="Roadblocks:"></textarea>
						</section>
						<section class="col s6">
							<textarea class="taskarea reportarea" ng-model="report.notes" placeholder="Notes/Questions/Reminders:"></textarea>
						</section>
					</section>
					<section class="row col s6">
						<button class="btn-large" type="submit">
						Save
						</button>
					</section>
					<section class="row col s6">
						<button class="btn-large nothanks" ng-click="closeshowme()">
						Nothing for now.
						</button>
					</section>
				</form>
			</section>
		</div>
	</div>
</section>