<section class="login-container" add-data>
	<section class="profile-container">
		<section>
			<nav class="webnified-nav">
				<section class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">
							<section class="logo tossing">
								<%= image_tag "logo.png"%>
							</section>
						</a>
						<label class="company">Virtualahan</label>
						<ul class="pull-right">
							<li><a href="" to="/client/info">Home</a></li>
							<li><a href="" to="/logout">Logout</a></li>

						</ul>
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
					</div>
				</section>
			</nav>
		</section>
		<section class ="record-list">
			<section class="recordhead">
				<%=@employee.firstname.capitalize+" "+@employee.lastname.capitalize %>
				<a href=<%=@url%> target="_blank" >Generate PDF</a>
			</section>
			
			<%@records.each do |data|%>
			<table>
				<thead>
					<tr>
						<th>Total Time</th>
						<th>Clock In</th>
						<th>Clock Out</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="mydate totalclock"><%= data["time_span"]%></td>
						<td><%= data["created_at"].strftime('%I:%M %P')%></td>
						<td><%= data["updated_at"].strftime('%I:%M %P')%></td>
						<td class="mytask"><%= data["date"]%></td>
						
					</tr>
				</tbody>
				<thead>
					<tr>
						<th>Task</th>
						<th>Total Time</th>
						<th>Start Time</th>
						<th>End Time</th>
					</tr>
				</thead>
				
				<tbody>
					<%data["time_records"].each do | record |%>
					<tr>
						<td class="mydate"><%= record["task"]%></td>
						<td class="totaltime"><%= record["time_span"]%></td>
						<td><%= record["created_at"].strftime('%I:%M %P')%></td>
						<td class="mytask"><%= record["updated_at"].strftime('%I:%M %P')%></td>
					</tr>
					<%end%>
					<tr>
						<th>Total Time Rendered:</th>
						<th class="timeresult"><%=total_time( data["id"] )%></th>
					</tr>
					<tr>
						<th>RoadBlocks</th>
						<th>Notes/Questions/Reminders</th>
					</tr>
					<tr>
						<%if data["report"] != nil%>
							<td class="mydate totalclock"><%=data["report"]["roadblocks"]%></th>
							<td class="mytask"><%=data["report"]["notes"]%></th>
						<%end%>
			        </tr>
				</tbody>
				
			</table>
			<%end%>
		</section>
	</section>
	
</section>