<section class="login-container" add-data>
	<section class="profile-container">
		<section>
			<nav class="webnified-nav">
				<section class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">
							<section class="logo tossing">
								<%= image_tag "logo.png"%>
							</section>
						</a>
						<label class="company">Virtualahan</label>
						<ul class="pull-right">
						<%if @type != "employee"%>
							<li><a href="/info" >Home</a></li>	
						<%else%>
							<li><a href="/client/info">Home</a></li>
						<%end%>
						</ul>
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
					</div>
				</section>
			</nav>
		</section>
		<section class="row info-container">
			<% if  @type == "client" %>
			<section class="col s7 proleft">
				<section class="col s12 left">
					<section class="col s4 profile-section">
						<img class="profile-pic" src="../images/profil.png">
					</section>
					<section class="col s8 ">
						<ul class="user-info">
							<li>Name: <span><%=@data.firstname.capitalize%> <%=@data.lastname.capitalize%></span> </li>
							<li>Email: <span><%=@data.email%></span> </li>
							<li>TimeZone: <span><%=@data.time_zone%></span>  </li>
							<li>Company's Website: <span><%=@data.website%></span> </li>
							<li>
								<a  href="<%=@data.link_in%>" target="_blank"><img class="iconsSocial" src="../images/link.png"></a>
							</li>
						</ul>
					</section>
				</section>
				
				<section class="col s12 right">
					<ul class="user-info">
						<li>Company Information: <span><%=@data.company%></span> </li>
						<li>of Subscription: <span><%=@data.subscription%></span> </li>
						<li>Industry: <span><%=@data.industry%></span> </li>
					</ul>
				</section>
			</section>
			<%end%>
			<%if @type == "employee"%>
			<section class="col s7 proleft">
				<section class="col s12 left">
					<section class="col s4 profile-section">
						<img class="profile-pic" src="../images/profil.png">
					</section>
					<section class="col s8 ">
						<ul class="user-info">
							<li>Name: <span><%=@data.firstname.capitalize%> <%=@data.lastname.capitalize%></span> </li>
							<li>Email: <span><%=@data.email%></span> </li>
							<li>
								<a  href="<%=@data.link_in%>" target="_blank"><img class="iconsSocial" src="../images/link.png"></a>
								<a  href="<%=@data.facebook%>" target="_blank"><img class="iconsSocial" src="../images/fb.png"></a>
							</li>
						</ul>
					</section>
				</section>
				
				<section class="col s12 right">
					<ul class="user-info">
						<li>Skills: <span><%=@data.skill%></span> </li>
					</ul>
				</section>
			</section>
			<%end%>
			<section class="col s5 proright">
				<h4 class="todo">Schedule</h4>
				<section class="col s6">
					<h4 class="todo">Day</h4>
					<h5 class="tododay">Monday</h5>
					<h5 class="tododay">Tuesday</h5>
					<h5 class="tododay">Wednesday</h5>
					<h5 class="tododay">Thursday</h5>
					<h5 class="tododay">Friday</h5>
					<h5 class="tododay">Saturday</h5>
					<h5 class="tododay">Sunday</h5>
				</section>
				<form ng-submit="updateSched()" method="post">
					<section class="col s6">
					<h4 class="todo">Time</h4>
					<select class="todoselect" ng-model="sched.monday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.tuesday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.wednesday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.thursday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.friday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.saturday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.sunday_start">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.monday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.tuesday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.wednesday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.thursday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.friday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<select class="todoselect" ng-model="sched.saturday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
					<span>-</span>
					<select class="todoselect" ng-model="sched.sunday_end">
					   <option value="off">OFF</option>
					   <option value="1:00">1:00</option>
					   <option value="2:00">2:00</option>
					   <option value="3:00">3:00</option>
					   <option value="4:00">4:00</option>
					   <option value="5:00">5:00</option>
					   <option value="6:00">6:00</option>
					   <option value="7:00">7:00</option>
					   <option value="8:00">8:00</option>
					   <option value="9:00">9:00</option>
					   <option value="10:00">10:00</option>
					   <option value="11:00">11:00</option>
					   <option value="12:00">12:00</option>
					   <option value="13:00">13:00</option>
					   <option value="14:00">14:00</option>
					   <option value="15:00">15:00</option>
					   <option value="16:00">16:00</option>
					   <option value="17:00">17:00</option>
					   <option value="18:00">18:00</option>
					   <option value="19:00">19:00</option>
					   <option value="20:00">20:00</option>
					   <option value="21:00">21:00</option>
					   <option value="22:00">22:00</option>
					   <option value="23:00">23:00</option>
					   <option value="24:00">24:00</option>
					</select>
				</section>
					<button class="btn-large" type="submit">
							Save
							</button>
				</form>
				

			</section>
		</section>
	</section>
</section>