<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%=@message[:email]%>, you have an update in your todo list.</h2>
    <h3>
    <ul class="user-info">
    	<li>Update from: <%=@message[:from]%></li>
    	<li>Task: <%=@message[:task]%></li>
    	<li>Deadline: <%=@message[:deadline]%></li>
    </ul>
    </h3>
  </body>
</html>