.container {
	color: white;
	width: 85%;
}

.profile-container{
	background-color: #081F35;
	background-image: url("/assets/starfield.png");
	color: white;
	padding-bottom: 59px;
	margin-bottom: 0;
	overflow: hidden;
	min-height: 624px;

}

section.record-list{
	margin: 100px;
	text-align: center;
}

td.pdf{
	font-size: 20px;
}

img.image {
	width: 150px;
	min-height: 150px;
	border-radius: 50%;
	border: 5px solid #fce4ec;
	padding-bottom:	5px; 
	
}

section.squad {
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: bold;
}

td.elements{

	text-align: center;
	font-size: 20px;
	border-radius: 10px;
}
td.time{

	width: 115px;
}
th{
	
	color: #3497DA;
    
    padding: 10px;
    font-size: 25px;
}

td{
	padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 15px;
    background: white;
    color: #2E2828;
    border-bottom: 1px solid gray;
}
table{
	margin: 0px auto;
}


.profile-container .container .logo img{
	display: block;
	margin: 10px auto;
	width: 60px;
}
.webnified-nav{
	position: fixed;
	background-color: #081F35;
}
.profile-container .company{
	margin-left: 70px;
	font-weight: bolder;
	font-size: 25px;
}
.webnified-nav a:hover{
	background-color: #3497DA;
}


.profile-container .propic img{
	display: block;
	width: 300px;
	height: 300px;
	margin: 90px auto;
	margin-bottom: 45px;
	border: 15px solid #fce4ec;
	border-radius: 50%;	
}
.profile-container .name{
	text-align: center;
	margin: -35px auto;
	margin-top: 100px;
	margin-bottom: 45px;
}
.profile-container .position{
	text-align: center;
	font-size: 20px;
	margin: -45px auto;
	margin-bottom: 45px;
}


.profile-container .fullname{
	font-weight: bolder;
	font-size: 50px;
}

.profile-container .description{
	text-align: center;
	margin: 50px 0 20px 0;
	font-size: 30px;
}

.profile-container .button-holder .timein{
	
	color: white;
	background-color: #0288d1;
}
.profile-container .button-holder .timeout{
	
	color: white;
	background-color:#c0ca33;
}
.profile-container .videoElement {
    width: 300px;
    height: 300px;
    background-color: #666;
    border: 10px #333 solid;
}

.profile-container #snapshot{
	display: none;
	width: 300px;
	height: 220px;
	margin-right: 280px;
}

.profile-container #emotion{
	display: none;
	color: black;
	margin-top: -45px !important;
	padding: 2px;
}


.profile-container #clockbox{
	color: #fce4ec;
	font-weight: bolder;
	text-align: center;
	font-size: 45px;
	margin: 10 auto;
}

.profile-container .time-transaction{
	padding: 10px;
	width: 85%;
	margin: -40px auto;
}
.profile-container .day{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.profile-container .time{
	color: black;
	background-color: #fce4ec;
	border-radius: 5px;
	height: 60px;
}
.profile-container .hour{
	color: black;
	background-color: #fce4ec;
	border-radius: 5px;
	height: 60px;
	margin-left: 45px !important;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #081F35;
    /* color: white; */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-container .comment {
	width: 100%;
	margin: 35px 0 20px 0;
	font-size: 15px;
	padding: 5px;
	border: 0px;
}
.profile-container .todoform{
	background-color: rgba(0,0,0,0.6);
}
.profile-container .todo{
	font-size: 20px;
	font-weight: bold;
}

.profile-container .form{
	color: black;
	margin-left: 35px !important;
}
.profile-container #again{
	display: none;
	margin-bottom: 10px;
}
.profile-container .emoPic{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.profile-container .cam-buttons{
	color:white;
	padding: 10px;
	border-radius: 50px;
	background-color:#233560;
}
.profile-container .emolements{
	text-align: center;
	margin: 100px 0px !important;
}
.heart{
	margin-top: 42px;
	font-size: 21px;
	font-weight: bolder;
	margin-bottom: -58px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#start{
	margin-bottom: 100px;
	font-size: 20px;
	font-weight: bold;
	display: block;
	border-radius: 15px !important;
}
#clockbox{
	margin: 20px 0px 20px 0px;
}
#stop {
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    display: block;
    border-radius: 15px !important;
}
#attend{
	font-size: 20px;
    width: 42%;
    font-weight: bold;
    display: block;
    border-radius: 15px !important;
    margin: 0px auto;
    margin-bottom: 65px;
}
#out {
	margin:0px auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    display: block;
    width: 47%;
    border-radius: 15px !important;
}

#timeme{
	display: none;
	color: white;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    margin: 20px 0px 20px 0px;
}

#timeIn{
	color: white;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    margin: 20px 0px 20px 0px;
}

.myTask{
	width: 97%;
    color: #241F27;
    height: 53px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px !important;
}
.recordHeader{
	    color: white;
	    text-align: center;
	    font-weight: bold;
	    background-color: rgba(255, 0, 0, 0.55);
	    width: 40%;
	    padding: 10px;
	    border-radius: 15px;
	    margin: 0px auto;
}
.mydate{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	max-width: 10px;
    overflow: auto;
}
.mytask{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
tr{
	margin-bottom: 10px !important;
}
.totaltime{
	color: red;
    font-weight: bold;
}
.timeresult{
	color: white;
	font-weight: bold;
}
.recordhead{
	    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;

}

table{
	margin-bottom: 50px;
}
.myname{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.totalclock{
	font-weight: bold;
}

h2{
	color: white !important;
}
.myclock{
	margin: 0px auto !important;
    width: 40%;
    min-height: 10px !important;
    border: 15px solid;
    margin-bottom: 20px !important;
    border-image: url(../images/wood.jpg) 50 round;
}
.mygif{
	width: 100%;
	margin-bottom: -7px;
}
.dropDown{
	width: 100%;
    color: #464242;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 18px !important;
}

.proleft .left ,.right{
	padding: 10px !important;
	background-color: rgba(0,0,0,0.6);
	margin-bottom: 10px;
}
.proright{
	width: 95%;
	background-color: rgba(0,0,0,0.6);
}
.info-container{
	margin-top: 100px;
	width: 90%;
}
.profile-pic{
    width: 50%;
}
.user-info{
	font-size: 20px;
}

.user-info span{
	font-weight: bold;
}
.profile-pic{
	width: 100%;
}
.todo{
	color: white;
	text-align: center;
}
.loginchoice{
	    font-size: 20px;
}
.login-container textarea {
    border-radius: 8px;
    padding: 0 0 0 5px;
    font-size: 20px;
}
.taskarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    height: 3em;
    width: 100%;
    font-size: 1em;
    margin: 15px 0px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.profile-section{
	padding: 10px !important;
}
.tablediv{
	overflow:auto;
	margin-bottom: 20px;
    max-height:400px;
}
.tododay{
	color: white;
	text-align: left;
	line-height: 46px;
}
.todoselect{
	color: black;
	width: 40%;
	 margin-top: 10px;
	 padding: 5px;
    margin-bottom: 14px;
}
.showSched{
	font-size: 96%;
    font-weight: normal !important;
}
.iconsSocial{
	    margin: 10px 5px 0px 5px;
    width: 43px;
}
.spinner{
	display: none;
    width: 232px;
    margin: 0px auto;
    padding: 10px;
}
.nothanks{
	background: #C66766;
}
.reportarea{
	color: white;
}