<!DOCTYPE html>
<html ng-app="virtualahan">
<head>
  <title>Virtualahan Attendance</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
 
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
 <%= javascript_include_tag 'application'%>
</body>
</html>
